.join_layout {
  width: 100%;
  height: 1495px;

  background: #f2f4f8 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  position: relative;
}

.join_input_layout {
  top: 80px;
  width: 560px;
  height: 1415px;

  display: flex;
  justify-content: center;
  position: relative;
}

.join_input_layout > img {
  top: 173px;
  width: 219px;
  height: 68px;

  position: absolute;
}

.input_group_name {
  top: 381px;

  height: 101px;
  width: 100%;

  position: absolute;
}

.input_group_name .input_title {
  top: 0;
  left: 0;

  text-align: left;
  font: normal normal 600 22px/26px Pretendard;
  letter-spacing: 0px;
  color: #000000;

  position: absolute;
}

.input_group_name .input_content {
  bottom: 0;

  padding-left: 20px;
  padding-right: 20px;

  width: 520px;
  height: 61px;

  text-align: left;
  font: normal normal normal 18px/21px Pretendard;
  letter-spacing: 0px;
  color: #7b7b7b;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecece;
  border-radius: 8px;

  position: absolute;
}

.input_group_name .input_content:focus {
  outline: none;
  color: #000000;
}

.input_group_id {
  top: 506px;

  height: 101px;
  width: 100%;

  position: absolute;
}

.input_group_id .input_title {
  top: 0;
  left: 0;

  text-align: left;
  font: normal normal 600 22px/26px Pretendard;
  letter-spacing: 0px;
  color: #000000;

  position: absolute;
}

.input_group_id .input_content {
  bottom: 0;

  padding-left: 20px;
  padding-right: 20px;

  width: 520px;
  height: 61px;

  text-align: left;
  font: normal normal normal 18px/21px Pretendard;
  letter-spacing: 0px;
  color: #7b7b7b;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecece;
  border-radius: 8px;

  position: absolute;
}

.input_group_id .input_content:focus {
  outline: none;
  color: #000000;
}

.input_group_password {
  top: 671px;

  height: 101px;
  width: 100%;

  position: absolute;
}

.input_group_password .input_title {
  top: 0;
  left: 0;

  text-align: left;
  font: normal normal 600 22px/26px Pretendard;
  letter-spacing: 0px;
  color: #000000;

  position: absolute;
}

.input_group_password .input_content {
  bottom: 0;

  padding-left: 20px;
  padding-right: 20px;

  width: 520px;
  height: 61px;

  text-align: left;
  font: normal normal normal 18px/21px Pretendard;
  letter-spacing: 0px;
  color: #7b7b7b;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecece;
  border-radius: 8px;

  position: absolute;
}

.input_group_password .input_content:focus {
  outline: none;
  color: #000000;
}

.input_group_password_check {
  top: 836px;

  height: 101px;
  width: 100%;

  position: absolute;
}

.input_group_password_check .input_title {
  top: 0;
  left: 0;

  text-align: left;
  font: normal normal 600 22px/26px Pretendard;
  letter-spacing: 0px;
  color: #000000;

  position: absolute;
}

.input_group_password_check .input_content {
  bottom: 0;

  padding-left: 20px;
  padding-right: 20px;

  width: 520px;
  height: 61px;

  text-align: left;
  font: normal normal normal 18px/21px Pretendard;
  letter-spacing: 0px;
  color: #7b7b7b;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecece;
  border-radius: 8px;

  position: absolute;
}

.input_group_password_check .input_content:focus {
  outline: none;
  color: #000000;
}

.agree_check {
  top: 1001px;
  width: 100%;
  height: 128px;

  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  position: absolute;
}

.agree_check > img {
  top: 50%;
  transform: translate(0, -50%);

  width: 28px;
  height: 28px;

  position: absolute;
  cursor: pointer;
}

.agree_check > span {
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);

  text-align: left;
  font: normal normal normal 20px/24px Pretendard;
  font-weight: 500;
  letter-spacing: 0px;
  color: #1c1c1c;

  position: absolute;
}

.agree_check_btn-enter-active,
.agree_check_btn-leave-active {
  transition: all 0.3s ease-in-out;
}

.agree_check_btn-enter-from,
.agree_check_btn-leave-to {
  opacity: 0;
}

.join_input_layout .join_btn {
  top: 1193px;
  width: 560px;
  height: 66px;

  background: #4f44f0 0% 0% no-repeat padding-box;
  border-radius: 8px;

  font: normal normal normal 22px/26px Pretendard;
  font-weight: 500;
  text-align: center;
  line-height: 66px;
  letter-spacing: 0px;
  color: #ffffff;
  
  cursor: pointer;
  position: absolute;
}
